apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-frontend
  labels:
    app: {{ .Release.Name }}-frontend
spec:
  minReadySeconds: 60
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-frontend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-frontend
    spec:
      containers:
      - args: []
        envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-frontend
        image: {{ .Values.frontend.image.name }}:{{ .Values.frontend.image.tag }}
        imagePullPolicy: IfNotPresent
        name: {{ .Release.Name }}-frontend
        env:
        - name: API_BASE_URL
          value: ""
        ports:
        - containerPort: 3001
          name: http
      terminationGracePeriodSeconds: 10